body {
    background-color: lightgray;
    margin: 5%;
    
}
.container1 {
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 25px;
    padding: 10px;

    
}
.button {
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.red {
    width: 20%;
    height: 5vh;
    background-color: red;
    border: 1px solid grey;
    text-align: center;
    
}
.blue {
    width: 20%;
    height: 5vh;
    background-color: blue;
    border: 1px solid grey;
    text-align: center;
}
.click {
    color: aliceblue;
    text-align: center;
    margin: 1vh;
}
.container2 {
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}
.grey {
    width: 90%;
    height: 30vh;
    background-color: grey;
    padding: 45px;
    box-sizing: border-box ;
    margin: 25px auto; 

}
.insert {
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-size: 5vh;
  
}
.footer {
    width: 100%;
    background-color: #303030;
    display: flex;
    justify-content: flex-end;
}
.foottext {
    color: aliceblue;
    padding-right: 5vh;
    
}